#!/usr/bin/make -f

#export DH_VERBOSE=1
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_DESTDIR = debian/tmp
DEB_INSTALL_CHANGELOGS_ALL := debian/tmp/usr/docs/ChangeLog

binary-post-install/python-wifi::
	gzip -9 debian/python-wifi/usr/share/doc/python-wifi/changelog
